/* Colette */

/* Import */

@import url("section-5.css");

/* Section 1 */

section#section-colette-1 h2 {
    font-size: 120px;
}

@media only screen and (min-width: 927px) and (max-width: 1194px) {
    section#section-colette-1 h2 {
        font-size: 110px;
    }
}

@media only screen and (max-width: 926px) {
    section#section-colette-1 h2 {
        font-size: 72px;
    }

    section#section-colette-1 {
        margin-top: 72px;
    }
}

/* Section 2 */

a#section-colette-2-how {
    margin: auto;
    margin-top: 24px;
}

section#section-colette-2 p span {
    font-style: italic;
    font-size: 14px;
}

/* Footer */

footer a.big-button {
    pointer-events: none;
    opacity: 0.25;
}

@media only screen and (max-width: 926px) {
    footer {
        height: 256px;
    }
}

/* Header */

header {
    width: 366px;
    margin-left: -183px;
}

@media only screen and (max-width: 624px) {
    header {
        width: 274px;
        margin-left: -137px;
    }
}