/* Colette */

/* Import */

@import url("section-5.css");

/* Section 1 */

section#section-colette-1 .section-column {
    margin-top: 80px;
}

section#section-colette-1 form {
    margin-top: 24px;
}

section#section-colette-1 form input {
    border-radius: 999px 0 0 999px;
    width: 288px;
}

section#section-colette-1 form button {
    display: inline-flex;
    vertical-align: top;
    border-radius: 0 999px 999px 0;
    background-color: #000;
    color: #FFF;
    min-width: auto;
}

.no-touch section#section-colette-1 form button.big-button:hover {
    background-color: #FFCC00;
}

section#section-colette-1 form button.big-button:active {
    color: #000;
    background-color: #FFF !important;
}

@media only screen and (max-width: 926px) {
    section#section-colette-1 form input {
        width: 168px;
        padding-left: 16px;
        padding-right: 16px;
    }

    section#section-colette-1 form a {
        padding-left: 24px;
        padding-right: 24px;
        background-color: #FFCC00;
    }
}

/* Section 2 */

a#section-colette-2-how {
    margin: auto;
    margin-top: 24px;
}

p#section-colette-2-footer {
    font-style: italic;
    font-size: 14px;
}

/* Footer */

footer a.big-button {
    pointer-events: none;
    opacity: 0.25;
}

@media only screen and (max-width: 926px) {
    footer {
        height: 256px;
    }
}

/* Header */

header {
    width: 366px;
    margin-left: -183px;
}

@media only screen and (max-width: 624px) {
    header {
        width: 274px;
        margin-left: -137px;
    }
}