/* Colette */

/* Import */

@import url("section-5.css");

/* Section 1 */

section#section-colette-1 h2 {
    margin-top: 80px;
}

@media only screen and (min-width: 927px) and (max-width: 1194px) {
    section#section-colette-1 h2 {
        font-size: 85px;
    }
}

/* Section 2 */

p#section-colette-2-footer {
    font-style: italic;
    font-size: 14px;
}

/* Footer */

@media only screen and (max-width: 926px) {
    footer {
        height: 256px;
    }
}

/* Header */

header {
    width: 366px;
    margin-left: -183px;
}

@media only screen and (max-width: 624px) {
    header {
        width: 274px;
        margin-left: -137px;
    }
}