/* Section 2 */

section#section-2 {
    display: block;
}

#section-2-minting {
    border: 1px solid #FFF;
    border-radius: 20px;
    width: max-content;
    margin: auto;
    margin-top: 24px;
}

.minting-column {
    float: left;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

#minting-column-1 {
    border-right: 1px solid #FFF;
}

.column-label {
    line-height: 1;
    font-size: 14px;
    margin: auto;
    margin-bottom: 12px;
    display: block;
    font-weight: bold;
    width: max-content;
}

.column-label span {
    font-size: 10px;
    background-color: #fccd12;
    border-radius: 999px;
    color: #000;
    width: 12px;
    height: 12px;
    vertical-align: 1px;
    margin-left: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#section-2-minting .big-button {
    opacity: 0.25;
    transition: opacity 0.25s ease-in, background-color 0.15s linear;
    pointer-events: none;
}

a#minting-button-1.big-button {
    opacity: 1;
    pointer-events: auto;
}
a#btn-disconnect,
a#minting-button-1,
#minting-button-3 {
    margin-bottom: 24px;
}

#minting-button-3 {
    background-color: #669a40;
}

a#minting-button-4 {
    background-color: #000;
    color: #FFF;
}

a#minting-button-4:active {
    background-color: #FFF !important;
    color: #000;
}

#minting-button-2 {
    padding: 0;
}

#minting-button-2:active {
    color: #000 !important;
    background-color: #FFF !important;
}

#minting-button-2 a {
    width: 31px;
    height: 31px;
    background-color: #000;
    border-radius: 999px;
    margin-left: 12px;
    margin-right: 12px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 1px;
    padding-left: 1px;
}

#minting-button-2 a:active {
    background-color: #FFF;
    color: #000;
}

#minting-button-2 span {
    width: 96px
}

p#section-2-counter-text {
    font-size: 14px !important;
    font-weight: bold;
}

#section-2-counter {
    background-color: #669a40;
    height: 8px;
    border-radius: 999px;
    max-width: 540px;
    margin: auto;
    margin-top: 8px;
    overflow: hidden;
}

#section-2-counter-progress {
    position: relative;
    width: 0%;
    height: 8px;
    background-color: #cc2027;
}

#overlay-window.minting-success {
    background-color: #ffcf08;
    text-align: center;
    background-image: url('../img/sticker-thumbs.gif');
    background-repeat: no-repeat;
    background-size: 240px 240px;
    background-position: top 32px center;
    max-width: 400px;
    width: 400px;
}

#overlay-window.minting-success h4 {
    font-size: 60px;
    font-family: "itc-avant-garde-gothic-lt-bold", sans-serif;
    line-height: 1;
    letter-spacing: -2.5px;
    font-weight: normal;
    margin-top: 256px;
}

#overlay-window.minting-success p {
    font-size: 18px;
}

#overlay-window.minting-success p a {
    word-break: break-all;
}

.no-touch #overlay-window.minting-success p a:hover,
#overlay-window.minting-success p a:active {
    text-decoration: underline;
}

@media only screen and (min-width: 532px) and (max-width: 1194px) {
    #section-2-minting,
    p#section-2-counter-text {
        margin-top: 16px;
    }

    .minting-column {
        margin-top: 12px;
        margin-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;
    }

    #section-2-counter {
        max-width: 480px;
    }
}

@media only screen and (max-width: 926px) {
    a#minting-button-4 {
        background-color: #FFF;
        color: #000;
    }

    a#minting-button-4:active {
        background-color: #000 !important;
        color: #FFF;
    }
}

@media only screen and (max-width: 531px) {
    .minting-column {
        float: none;
        padding-left: 16px;
        padding-right: 16px;
    }

    #minting-column-1 {
        border: none;
        padding-bottom: 8px;
    }

    #overlay-window.minting-success {
        width: auto;
    }

    #overlay-window.minting-success h4 {
        font-size: 48px;
        letter-spacing: -2px;
    }

    #overlay-window.minting-success p {
        font-size: 16px;
    }
}